#Reviews{
    padding: 100px 0;
    text-align: right;
    .side-img{
        // position: relative;
        height: 200px;
        width: 300px;
        text-align: left;
   img{
    //    position: absolute;
    //    max-width: 600px;
       width: 100%;
   }
}
   h4{
       font-weight: 600;
       font-size: .9rem;
       margin-bottom: 2rem;
   }
   
  
   .author{
       font-size: .8rem;
       color: $paragraphColor;
       font-weight: 300;
       text-transform: capitalize;
       margin-bottom: 2rem;
       strong{
           font-weight: 700;
        color: $black;
        
    }
 
   }
   .arrows{
       .fa-arrow-left, .fa-arrow-right{
           font-size: 1.5rem;
           padding: 20px 10px;
           cursor: pointer;
           color: $paragraphColor;
       }
       .fa-arrow-left.ready, .fa-arrow-right.ready{
           color: black;
       }
   }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    #Reviews {
       .side-img{
           
           width:225px
       }
    }
}