@import "reset";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans:400,700|Rozha+One&display=swap');
@import "variables";
@import "grid";
@import "Header";
@import "TopImg";
@import "OurStory";
@import "SpecialMenu";
@import "RandomQuote";
@import "Reviews";
@import "ContactUs";
@import "Footer";
@import "ResMod";
@import "global";


// font-family: 'Rozha One', serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: $textFont;
}